
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


h1{
    background-color: purple;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 10px;
}

.guess2{
    color: white;
    font-size: 35px;
    padding-bottom: -20px;
}

#wrapper{
    background-color: rgb(21, 211, 211);
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
    padding-bottom: 70px;
}

#guessField{
    padding: 30px 50px;
    
}

#subt{
    color: black;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    cursor: pointer;
}

.resultParas{
    color: white;
}
label{
    margin-top: 10px;
    color: aliceblue;
    font-size: 35px;
}

    #guess{
        color: #000;
    }
